@font-face {
    font-family: 'awesome_season_personal_useRg';
    src: url('Police/awesome_season_personal_use-webfont.woff2') format('woff2'),
         url('Police/awesome_season_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mf_really_awesomeregular';
    src: url('Police/mf_really_awesome-webfont.woff2') format('woff2'),
         url('Police/mf_really_awesome-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url('image/fond.png') fixed, no-repeat;
    background-position: left;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    height: 150px;
    background-image: url('image/fond_footer.png')
}

#logo_taille {
    width: 150px;
    height: 125px;
    margin: auto;
    padding-left: 10px;
}

#citation {
    font-family: awesome_season_personal_useRg, serif;
    color: #3366AC;
    font-size: 1.6em;
    text-align: center;
    padding-top: 5px;
    width:50%;
    margin: auto;
}

nav ul {
    display: flex;
    list-style-type: none;
    font-family: mf_really_awesomeregular, serif;
    font-size: 2em;
    margin: auto;
    padding-top: 95px;
}

nav li {
    padding-right: 45px;
}

nav a {
    text-decoration: none;
    color: #3366AC;
}

nav a:hover {
  border-bottom: 2px solid #3366AC;
}

#contenu {
    display: flex;
    margin: auto;
    width: 80%;
    height: 80px;
    margin-top: 250px;
    text-align: center;
}

#contenu div {
    background-color: rgba(255,255,255, .6);
    margin-left: 28%;
    width: 200px;
}

#contenu h2 {
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 5px;
    font-family: mf_really_awesomeregular, serif;
    color: #3366AC;
}

#contenu a {
    color: #3366AC;
    text-decoration: none;
}

#contenu a:hover {
    border-bottom: 2px solid #3366AC;
}

footer {
    background-image: url('image/fond_footer.png');
    display: flex;
    height: 100%;
    margin-top: 365px;
    justify-content: space-between;
}

footer ul {
    list-style-type: none;
    display: flex;
}

footer div p {
    font-family: mf_really_awesomeregular;
    font-size: 1.5em;
    color: #3366AC;
}

#mailnews {
    font-family: mf_really_awesomeregular;
    font-size: 25px;
    color: #3366AC;
}

#newsletter {
    padding-top: 25px;
    padding-left: 15px;
}

#bloc_partenaires {
    display: flex;
}

.partenaires_logo {
    height: 80px;
    padding-left: 25px;
    padding-right: 15px;
}

#partenaires_titre {        
    font-family: mf_really_awesomeregular, serif;
    font-size: 1.6em;
    padding-top: 20px;
    color: #3366AC;
    padding-left: 100px;
}

@media all and (min-width: 600px) and (max-width: 981px) {
    
    #citation {
        display: none;
    }

    #contenu {
        margin-left: 0px;
    }

    footer {
        display: block;
    }

    #newsletter {
        padding-left: 30%;
    }

    #bloc_partenaires {
        display: block;
    }

    #partenaires_titre {
        padding-left: 43%;
    }

    footer ul {
        padding-left: 5%;
    }
}

@media all and (min-width: 459px) and (max-width: 599px) {
    
    header {
        display: block;
        height: 215px;
    }

    #logo_taille {
        padding-left: 140px;
        padding-top: 15px;
    }

    nav ul {
        padding-top: 0px;
        padding-top: 30px;
        padding-left: 50px;
        margin: auto;
     }

     nav a:hover {
        border-bottom: 0px;
    }   

    #contenu {
        display: block;
        margin-left: 0px;
    }

    #contenu a:hover {
    border-bottom: 0px;
    }

     #citation {
        display: none;
    }

    .bloc_article {
        display: block;
    }

    .bloc_texte h2 {
        padding-top: 5px;
    }

    #miniature_1 {
        margin-left: 120px;
        padding-bottom: 5px;
    }

    #miniature_2 {
        margin-left: 115px;
        padding-bottom: 5px;
    }

    aside {
        margin-right: 15px;
    }

    aside h2 {
        padding-top: 15px;
    }

     footer {
        display: block;
    }

    #newsletter {
        padding-left: 20%;
    }

    #bloc_partenaires {
        display: block;
    }

    #partenaires_titre {
        padding-left: 37%;
    }

    footer ul {
        margin-left: -5px;
    }

    .partenaires_logo {
        height: 55px;
    }

}

@media all and (max-width: 458px) {
     
    header {
        display: block;
        height: 215px;
    }

    #logo_taille {
        padding-left: 75px;
        padding-top: 15px;
    }

    nav ul {
        padding-top: 0px;
        padding-top: 30px;
        font-size: 1.5em;
        padding-left: 0px;
        padding-left: 15px; 
    }

    nav a:hover {
        border-bottom: 0px solid #3366AC;
    } 

    #citation {
        display: none;
    }

    #contenu {
        display: block;
        margin-left: 0px;
    }

    .bloc_article {
        display: block;
    }

    .bloc_texte h2 {
        padding-top: 5px;
    }

    #miniature_1 {
        margin-left: 50px;
        padding-bottom: 5px;
    }

    #miniature_2 {
        margin-left: 50px;
        padding-bottom: 5px;
    }

    aside {
        margin-right: 15px;
        height: 700px;
    }

    aside h2 {
        padding-top: 15px;
    }

     footer {
        display: block;
    }

    #newsletter {
        padding-left: 10%;
    }

    #bloc_partenaires {
        display: block;
    }

    #partenaires_titre {
        padding-left: 31%;
    }

    .partenaires_logo {
        height: 35px;
        padding-left: 0px;
        margin-left: 5px;
    }
}